.img{
    float: left;
    margin-right: 15px;
    margin: 30px;
}

.description{
    margin-top: 50px;
    margin-right:20px;
    vertical-align: top;
    font-size: 15px;
    margin-bottom: 50px;
}

.h2{
    display:inline-block
}

.p{
    margin-bottom: 60px ;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 180px;
    display:inline-block
}

.platforms{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pPlatforms {
    display: flex;
    flex-direction: column;
}