.label {
    color: deeppink;
    margin-left: 5px;
}


.btnRandomGame{
    border: 1px solid rgb(209, 37, 129);
    background-color: rgb(209, 37, 129);
    font-family: fantasy;
    font-size: 35px;
    margin-top: 20px;
    padding: 0px 40px 0px 40px;
    cursor: pointer;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btnForm{
    border: 1px solid rgb(209, 37, 129);
    background-color: rgb(209, 37, 129);
    font-family: fantasy;
    font-size: 35px;
    margin-top: 20px;
    padding: 0px 40px 0px 40px;
    cursor: pointer;
}

.banner{
    width: 100%;
}
.select{
    background: transparent;
    border: none;
    font-size: 18px;
    height: 30px;
    padding: 5px;
    width: 215px;
    color: deeppink;
}

.caja{
    border:1px solid deeppink;
    height:30px;
    overflow: hidden;
    width: 200px;
    position:relative;
    cursor: pointer;
}

.cajaRating{
    border:1px solid deeppink;
    margin-right: 58px; 
    height:30px;
    overflow: hidden;
    width: 90px;
    position:relative;
    cursor: pointer;
}
.selectRating{
    background: transparent;
    border: none;
    font-size: 15px;
    height: 30px;
    padding: 5px;
    width: 105px;
    color: deeppink;
}

.cajaOrder{
    border:1px solid deeppink;
    height:30px;
    overflow: hidden;
    width: 50px;
    position:relative;
    cursor: pointer;
}
.selectOrder{
    background: transparent;
    border: none;
    font-size: 13px;
    height: 30px;
    padding: 5px;
    width: 70px;
    color: deeppink;
}

.flexDistance{
    display: flex;
    flex-direction: row;
}