.paginado{
  display: inline-block;
  margin: 10px;
  background-color: rgb(46, 41, 80,0.8);
  }
  .number{
    color: white;
    font-size: 15px;
    font-weight: 500;
    float: left;
    padding: 8px 16px;
    cursor: pointer;
  }
  .number:hover{
    background:deeppink
  }
