.h1{
    font-family:monospace;
    color:#44c767;
    font-size: 35px;
    padding: 10px;
    margin-left: 500px;
    margin-right: 500px;
    background-color: white;
    font-family: monospace;
}

.filters{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 10px;
}
